In [37]:
import pandas as pd



data = {
    'article_id': [5, 4, 1, 7, 3, 2, 6],
    'author_id': [7, 3, 6, 4, 1, 2, 4],
    'viewer_id': [7, 1, 4, 4, 3, 7, 4],
    'view_date': ['2020-01-15', '2019-12-10', '2020-02-20', '2019-11-05', '2019-10-25', '2019-09-03', '2020-03-18']
}

views = pd.DataFrame(data=data)
views

   article_id  author_id  viewer_id   view_date
0           5          7          7  2020-01-15
1           4          3          1  2019-12-10
2           1          6          4  2020-02-20
3           7          4          4  2019-11-05
4           3          1          3  2019-10-25
5           2          2          7  2019-09-03
6           6          4          4  2020-03-18

+---------------+---------+ <br>
| Column Name   | Type    | <br>
+---------------+---------+ <br>
| article_id    | int     | <br>
| author_id     | int     | <br>
| viewer_id     | int     | <br>
| view_date     | date    | <br>
+---------------+---------+ <br>
There is no primary key (column with unique values) for this table, the table may have duplicate rows.
Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
Note that equal author_id and viewer_id indicate the same person.
 

Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.

The result format is in the following example.

In [54]:
# SELECT author_id FROM views WHERE author_id = viewer_id;


def article_views(views: pd.DataFrame) -> pd.DataFrame:

    views['id'] = views[views["author_id"] == views["viewer_id"]][["viewer_id"]]

    return views[['id']].dropna().drop_duplicates().astype('int').sort_values('id',)

In [55]:
article_views(views.drop_duplicates())

   id
3   4
0   7