In [1]:
import pandas as pd

orders_data = {
    "id": [1, 2],
    "customerId": [3, 1]
}

customers_data = {
    "id": [1, 2, 3, 4],
    "name": ["Joe", "Henry", "Sam", "Max"]
}

customers = pd.DataFrame(data=customers_data)

orders = pd.DataFrame(data = orders_data)

Input: 
Customers
| id  | name  |
|----:|-------|
|  1  | Joe   |
|  2  | Henry |
|  3  | Sam   |
|  4  | Max   |


Orders
| id  | customerId |
|----:|------------|
|  1  | 3          |
|  2  | 1          |


Output:
| Customers |
|-----------|
| Henry     |
| Max       |




id is the primary key (column with unique values) for this table.
customerId is a foreign key (reference columns) of the ID from the Customers table.
Each row of this table indicates the ID of an order and the ID of the customer who ordered it.
 

Write a solution to find all customers who never order anything.

Return the result table in any order.

In [2]:
customers

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

In [3]:
orders

   id  customerId
0   1           3
1   2           1

In [33]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
  
  #Optional slight memory improvement over speed
  #matching_ids = orders['customerId'].unique()
  result_df = customers[~customers['id'].isin(orders['customerId'])]
  result_df = customers[~customers['id'].isin(orders['customerId'])]
  
  return result_df[['name']].rename(columns={"name":"Customer"})

In [34]:
find_customers(customers,orders)

  Customer
1    Henry
3      Max