In [2]:
import pandas as pd

data = {
        "tweet_id":[1,2],
        "content": ["Vote for Biden","Let us make America great again!"]

}


tweets = pd.DataFrame(data = data)

tweets

   tweet_id                           content
0         1                    Vote for Biden
1         2  Let us make America great again!

+----------------+---------+<br>
| Column Name    | Type&nbsp; &nbsp; &nbsp;     |<br>
+----------------+---------+<br>
| tweet_id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          | int &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;    |<br>
| content &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;          | varchar &nbsp; | <br>
+----------------+---------+<br>
tweet_id is the primary key (column with unique values) for this table.
This table contains all the tweets in a social media app.
 

Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.

The result format is in the following example.

In [19]:


def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets["counts"] = tweets["content"].apply(lambda x : len(x))
    
    return tweets[tweets["counts"] > 15][["tweet_id"]]

In [21]:
def invalid_tweets(tweets: pd.DataFrame) -> pd.DataFrame:
    tweets["counts"] = tweets["content"].str.len()
    return tweets[tweets["counts"] > 15][["tweet_id"]]

In [22]:
invalid_tweets(tweets)

   tweet_id
1         2